<!DOCTYPE html>
<html>
	<div class = "container">
		<h1>About us</h1>
		<p>Sebas's Investments was set up in 2016, in order to take advantage of holes in the Irish banking system.</p>
		<p>We make sure to abuse our customers' stupidity. </p>
	</div>
</html>